In [169]:
import pandas as pd
import numpy as np

In [11]:
import datetime

In [149]:
import calendar

### Make an excel writer object

In [4]:
writer = pd.ExcelWriter('subscriber-report.xlsx', engine='xlsxwriter')

### Read in data

In [2]:
data = pd.read_excel('/Users/kyle/Downloads/subscriber-data.xlsx')

In [3]:
data.head()

,activity_date,market,new_subscriptions,total_disconnects,self_install,professional_install,disconnects,post_install_returns,total_subscribers
0,2017-07-17,Atlanta,18,5,12,6,3,2,33172
1,2017-07-17,Seattle,23,2,14,9,1,1,240359
2,2017-07-16,Atlanta,27,6,10,17,4,2,33159
3,2017-07-16,Seattle,34,1,19,15,1,0,240338
4,2017-07-15,Atlanta,34,5,17,17,4,1,33138

In [10]:
data.activity_date.min()

Timestamp('2015-01-01 00:00:00')

In [21]:
data['date'] = data.activity_date.apply(lambda x: x.date())

### Build datasets from raw, get 2017 first then generalize

In [23]:
data.head()

,activity_date,market,new_subscriptions,total_disconnects,self_install,professional_install,disconnects,post_install_returns,total_subscribers,date
0,2017-07-17,Atlanta,18,5,12,6,3,2,33172,2017-07-17
1,2017-07-17,Seattle,23,2,14,9,1,1,240359,2017-07-17
2,2017-07-16,Atlanta,27,6,10,17,4,2,33159,2017-07-16
3,2017-07-16,Seattle,34,1,19,15,1,0,240338,2017-07-16
4,2017-07-15,Atlanta,34,5,17,17,4,1,33138,2017-07-15

In [45]:
data['year'] = data.date.apply(lambda x: x.year)

In [46]:
data.head()

,activity_date,market,new_subscriptions,total_disconnects,self_install,professional_install,disconnects,post_install_returns,total_subscribers,date,year
0,2017-07-17,Atlanta,18,5,12,6,3,2,33172,2017-07-17,2017
1,2017-07-17,Seattle,23,2,14,9,1,1,240359,2017-07-17,2017
2,2017-07-16,Atlanta,27,6,10,17,4,2,33159,2017-07-16,2017
3,2017-07-16,Seattle,34,1,19,15,1,0,240338,2017-07-16,2017
4,2017-07-15,Atlanta,34,5,17,17,4,1,33138,2017-07-15,2017

In [146]:
data.date.apply(lambda x: x.month)

0       7
1       7
2       7
3       7
4       7
5       7
6       7
7       7
8       7
9       7
10      7
11      7
12      7
13      7
14      7
15      7
16      7
17      7
18      7
19      7
20      7
21      7
22      7
23      7
24      7
25      7
26      7
27      7
28      7
29      7
       ..
1828    1
1829    1
1830    1
1831    1
1832    1
1833    1
1834    1
1835    1
1836    1
1837    1
1838    1
1839    1
1840    1
1841    1
1842    1
1843    1
1844    1
1845    1
1846    1
1847    1
1848    1
1849    1
1850    1
1851    1
1852    1
1853    1
1854    1
1855    1
1856    1
1857    1
Name: date, dtype: int64

In [49]:
type(data.year[0])

numpy.int64

In [50]:
data_2017 = data[data.year == 2017]

In [53]:
data_2017.shape

(396, 11)

In [54]:
data_2017.head()

,activity_date,market,new_subscriptions,total_disconnects,self_install,professional_install,disconnects,post_install_returns,total_subscribers,date,year
0,2017-07-17,Atlanta,18,5,12,6,3,2,33172,2017-07-17,2017
1,2017-07-17,Seattle,23,2,14,9,1,1,240359,2017-07-17,2017
2,2017-07-16,Atlanta,27,6,10,17,4,2,33159,2017-07-16,2017
3,2017-07-16,Seattle,34,1,19,15,1,0,240338,2017-07-16,2017
4,2017-07-15,Atlanta,34,5,17,17,4,1,33138,2017-07-15,2017

In [206]:
data_2017.market.unique()

u'Seattle'

In [ ]:
# Stop, EOD
# To do: with 2017 data, work on a city, group by isocalendar() aka week and summarise the metrics. Create dict for later use.

In [69]:
atlanta_2017 = data_2017[data_2017.market == 'Atlanta']

In [107]:
atlanta_2017['week'] = atlanta_2017.date.apply(lambda x: x.strftime('%U'))

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [108]:
atlanta_2017['day'] = atlanta_2017.date.apply(lambda x: x.isoweekday())

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [163]:
atlanta_2017['last_dom'] = atlanta_2017.date.apply(lambda x: calendar.monthrange(x.year, x.month)[1])

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [165]:
atlanta_2017['dom'] = atlanta_2017.date.apply(lambda x: x.day)

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [170]:
atlanta_2017['is_last_dom'] = np.where(atlanta_2017.dom == atlanta_2017.last_dom, 1, 0)

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [181]:
atlanta_2017['quarter'] = atlanta_2017.date.apply(lambda x: (x.month-1)  // 3 + 1)

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [184]:
atlanta_2017['month'] = atlanta_2017.date.apply(lambda x: x.month)

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [203]:
test_df = atlanta_2017[((atlanta_2017.month == 3) & (atlanta_2017.dom == 31))\
                       |((atlanta_2017.month == 6) & (atlanta_2017.dom == 30)) \
                       |((atlanta_2017.month == 9) & (atlanta_2017.dom == 30)) \
                       |((atlanta_2017.month == 12) & (atlanta_2017.dom == 31))]

In [204]:
test_df

,activity_date,market,new_subscriptions,total_disconnects,self_install,professional_install,disconnects,post_install_returns,total_subscribers,date,year,week,day,last_dom,dom,is_last_dom,quarter,month
34,2017-06-30,Atlanta,23,4,16,7,2,2,32768,2017-06-30,2017,26,5,30,30,1,2,6
216,2017-03-31,Atlanta,28,2,10,18,2,0,30676,2017-03-31,2017,13,5,31,31,1,1,3

In [116]:
atlanta_2017_agg = atlanta_2017.groupby('week').agg({'new_subscriptions':sum, 'self_install':sum, 'professional_install':sum, 'disconnects':sum,\
                                                     'post_install_returns':sum, 'total_disconnects':sum})

In [117]:
atlanta_2017_ending_subs = atlanta_2017[atlanta_2017.day == 7]

In [118]:
atlanta_2017_ending_subs_join = atlanta_2017_ending_subs[['total_subscribers', 'week']]

In [119]:
atlanta_2017_agg['net_gain'] = atlanta_2017_agg.new_subscriptions - atlanta_2017_agg.total_disconnects

In [130]:
atlanta_2017_agg2 = atlanta_2017_agg.reset_index().merge(atlanta_2017_ending_subs_join, on='week')

In [133]:
atlanta_2017_agg2['beginning_subs'] = atlanta_2017_agg2.total_subscribers.shift(1)

In [145]:
atlanta_2017_agg2.transpose().reindex(['beginning_subs', 'new_subscriptions', 'self_install', 'professional_install',\
                          'total_disconnects', 'post_install_returns', 'disconnects',\
                          'net_gain', 'total_subscribers']).rename(index={
                                                                'beginning_subs':'Beginning Subscribers',
                                                                'new_subscriptions':'Total Connects',
                                                                'self_install':'Self Installs',
                                                                'professional_install':'Pro Installs',
                                                                'total_disconnects':'Total Disconnects',
                                                                'post_install_returns':'Post Install Returns',
                                                                'disconnects':'Disconnects',
                                                                'net_gain':'Net Gain',
                                                                'total_subscribers':'Ending Subs'
}).rename(columns=lambda x: 'Week '+str(x+1))

,Week 1,Week 2,Week 3,Week 4,Week 5,Week 6,Week 7,Week 8,Week 9,Week 10,...,Week 20,Week 21,Week 22,Week 23,Week 24,Week 25,Week 26,Week 27,Week 28,Week 29
Beginning Subscribers,NaN,28657,28779,28935,29118,29259,29449,29618,29766,29924,...,31537,31707,31869,32032,32210,32347,32520,32650,32829,33001
Total Connects,158,174,199,166,209,201,164,179,171,197,...,188,175,209,166,191,162,176,189,195,45
Self Installs,86,94,110,99,111,113,98,102,102,116,...,103,97,111,91,115,89,102,120,113,22
Pro Installs,72,80,89,67,98,88,66,77,69,81,...,85,78,98,75,76,73,74,69,82,23
Total Disconnects,27,29,20,26,23,19,22,17,25,23,...,20,29,21,23,23,24,21,13,26,11
Post Install Returns,6,11,8,8,10,6,9,5,10,9,...,3,10,9,7,10,8,10,6,7,4
Disconnects,21,18,12,18,13,13,13,12,15,14,...,17,19,12,16,13,16,11,7,19,7
Net Gain,131,145,179,140,186,182,142,162,146,174,...,168,146,188,143,168,138,155,176,169,34
Ending Subs,28657,28779,28935,29118,29259,29449,29618,29766,29924,30075,...,31707,31869,32032,32210,32347,32520,32650,32829,33001,33159

In [ ]:
## EOD, have a working df for a year and city. Need to generalize to incorporate different cities and years next

In [148]:
data.market[1]

u'Seattle'

In [157]:
dstr = data.date[1]

In [162]:
# get end of month
dstr.year
dstr.month
calendar.monthrange(dstr.year, dstr.month)

(5, 31)

### Write dataframes to workbook

In [213]:
workbook = writer.book

In [210]:
worksheet = writer.sheets['Test']

In [214]:
atlanta_2017.to_excel(writer, sheet_name='Test')

In [215]:
workbook.close()

In [212]:
worksheet

In [216]:
test_list = []

In [218]:
keys = ['a', 'b', 'c', 'd']

In [224]:
other_dict = ['1', '2', '3']

In [222]:
dict_keys = {'a':1, 'b':2, 'c':3, 'd':4}

In [223]:
sorted(key for key in dict_keys.keys() if key != 'a')

['b', 'c', 'd']

In [225]:
keys + other_dict

['a', 'b', 'c', 'd', '1', '2', '3']