In [1]:
import pandas as pd

In [11]:
import datetime

### Make an excel writer object

In [4]:
writer = pd.ExcelWriter('subscriber-report.xlsx', engine='xlsxwriter')

### Read in data

In [2]:
data = pd.read_excel('/Users/kyle/Downloads/subscriber-data.xlsx')

In [3]:
data.head()

,activity_date,market,new_subscriptions,total_disconnects,self_install,professional_install,disconnects,post_install_returns,total_subscribers
0,2017-07-17,Atlanta,18,5,12,6,3,2,33172
1,2017-07-17,Seattle,23,2,14,9,1,1,240359
2,2017-07-16,Atlanta,27,6,10,17,4,2,33159
3,2017-07-16,Seattle,34,1,19,15,1,0,240338
4,2017-07-15,Atlanta,34,5,17,17,4,1,33138

In [10]:
data.activity_date.min()

Timestamp('2015-01-01 00:00:00')

In [21]:
data['date'] = data.activity_date.apply(lambda x: x.date())

### Build datasets from raw, get 2017 first then generalize

In [23]:
data.head()

,activity_date,market,new_subscriptions,total_disconnects,self_install,professional_install,disconnects,post_install_returns,total_subscribers,date
0,2017-07-17,Atlanta,18,5,12,6,3,2,33172,2017-07-17
1,2017-07-17,Seattle,23,2,14,9,1,1,240359,2017-07-17
2,2017-07-16,Atlanta,27,6,10,17,4,2,33159,2017-07-16
3,2017-07-16,Seattle,34,1,19,15,1,0,240338,2017-07-16
4,2017-07-15,Atlanta,34,5,17,17,4,1,33138,2017-07-15

In [45]:
data['year'] = data.date.apply(lambda x: x.year)

In [46]:
data.head()

,activity_date,market,new_subscriptions,total_disconnects,self_install,professional_install,disconnects,post_install_returns,total_subscribers,date,year
0,2017-07-17,Atlanta,18,5,12,6,3,2,33172,2017-07-17,2017
1,2017-07-17,Seattle,23,2,14,9,1,1,240359,2017-07-17,2017
2,2017-07-16,Atlanta,27,6,10,17,4,2,33159,2017-07-16,2017
3,2017-07-16,Seattle,34,1,19,15,1,0,240338,2017-07-16,2017
4,2017-07-15,Atlanta,34,5,17,17,4,1,33138,2017-07-15,2017

In [49]:
type(data.year[0])

numpy.int64

In [50]:
data_2017 = data[data.year == 2017]

In [53]:
data_2017.shape

(396, 11)

In [54]:
data_2017.head()

,activity_date,market,new_subscriptions,total_disconnects,self_install,professional_install,disconnects,post_install_returns,total_subscribers,date,year
0,2017-07-17,Atlanta,18,5,12,6,3,2,33172,2017-07-17,2017
1,2017-07-17,Seattle,23,2,14,9,1,1,240359,2017-07-17,2017
2,2017-07-16,Atlanta,27,6,10,17,4,2,33159,2017-07-16,2017
3,2017-07-16,Seattle,34,1,19,15,1,0,240338,2017-07-16,2017
4,2017-07-15,Atlanta,34,5,17,17,4,1,33138,2017-07-15,2017

In [ ]:
# Stop, EOD
# To do: with 2017 data, work on a city, group by isocalendar() aka week and summarise the metrics. Create dict for later use.

In [69]:
atlanta_2017 = data_2017[data_2017.market == 'Atlanta']

In [107]:
atlanta_2017['week'] = atlanta_2017.date.apply(lambda x: x.strftime('%U'))

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [108]:
atlanta_2017['day'] = atlanta_2017.date.apply(lambda x: x.isoweekday())

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [109]:
atlanta_2017.head()

,activity_date,market,new_subscriptions,total_disconnects,self_install,professional_install,disconnects,post_install_returns,total_subscribers,date,year,week,day
0,2017-07-17,Atlanta,18,5,12,6,3,2,33172,2017-07-17,2017,29,1
2,2017-07-16,Atlanta,27,6,10,17,4,2,33159,2017-07-16,2017,29,7
4,2017-07-15,Atlanta,34,5,17,17,4,1,33138,2017-07-15,2017,28,6
6,2017-07-14,Atlanta,30,6,16,14,4,2,33109,2017-07-14,2017,28,5
8,2017-07-13,Atlanta,27,3,19,8,3,0,33085,2017-07-13,2017,28,4

In [116]:
atlanta_2017_agg = atlanta_2017.groupby('week').agg({'new_subscriptions':sum, 'self_install':sum, 'professional_install':sum, 'disconnects':sum,\
                                                     'post_install_returns':sum, 'total_disconnects':sum})

In [117]:
atlanta_2017_ending_subs = atlanta_2017[atlanta_2017.day == 7]

In [118]:
atlanta_2017_ending_subs_join = atlanta_2017_ending_subs[['total_subscribers', 'week']]

In [119]:
atlanta_2017_agg['net_gain'] = atlanta_2017_agg.new_subscriptions - atlanta_2017_agg.total_disconnects

In [130]:
atlanta_2017_agg2 = atlanta_2017_agg.reset_index().merge(atlanta_2017_ending_subs_join, on='week')

In [133]:
atlanta_2017_agg2['beginning_subs'] = atlanta_2017_agg2.total_subscribers.shift(1)

In [145]:
atlanta_2017_agg2.transpose().reindex(['beginning_subs', 'new_subscriptions', 'self_install', 'professional_install',\
                          'total_disconnects', 'post_install_returns', 'disconnects',\
                          'net_gain', 'total_subscribers']).rename(index={
                                                                'beginning_subs':'Beginning Subscribers',
                                                                'new_subscriptions':'Total Connects',
                                                                'self_install':'Self Installs',
                                                                'professional_install':'Pro Installs',
                                                                'total_disconnects':'Total Disconnects',
                                                                'post_install_returns':'Post Install Returns',
                                                                'disconnects':'Disconnects',
                                                                'net_gain':'Net Gain',
                                                                'total_subscribers':'Ending Subs'
}).rename(columns=lambda x: 'Week '+str(x+1))

,Week 1,Week 2,Week 3,Week 4,Week 5,Week 6,Week 7,Week 8,Week 9,Week 10,...,Week 20,Week 21,Week 22,Week 23,Week 24,Week 25,Week 26,Week 27,Week 28,Week 29
Beginning Subscribers,NaN,28657,28779,28935,29118,29259,29449,29618,29766,29924,...,31537,31707,31869,32032,32210,32347,32520,32650,32829,33001
Total Connects,158,174,199,166,209,201,164,179,171,197,...,188,175,209,166,191,162,176,189,195,45
Self Installs,86,94,110,99,111,113,98,102,102,116,...,103,97,111,91,115,89,102,120,113,22
Pro Installs,72,80,89,67,98,88,66,77,69,81,...,85,78,98,75,76,73,74,69,82,23
Total Disconnects,27,29,20,26,23,19,22,17,25,23,...,20,29,21,23,23,24,21,13,26,11
Post Install Returns,6,11,8,8,10,6,9,5,10,9,...,3,10,9,7,10,8,10,6,7,4
Disconnects,21,18,12,18,13,13,13,12,15,14,...,17,19,12,16,13,16,11,7,19,7
Net Gain,131,145,179,140,186,182,142,162,146,174,...,168,146,188,143,168,138,155,176,169,34
Ending Subs,28657,28779,28935,29118,29259,29449,29618,29766,29924,30075,...,31707,31869,32032,32210,32347,32520,32650,32829,33001,33159

In [ ]:
## EOD, have a working df for a year and city. Need to generalize to incorporate different cities and years next

### Write dataframes to workbook

In [5]:
workbook = writer.book

In [7]:
worksheet = writer.sheets['Sheet1']

KeyError: 'Sheet1'