In [1]:
import pandas as pd

In [11]:
import datetime

### Make an excel writer object

In [4]:
writer = pd.ExcelWriter('subscriber-report.xlsx', engine='xlsxwriter')

### Read in data

In [2]:
data = pd.read_excel('/Users/kyle/Downloads/subscriber-data.xlsx')

In [3]:
data.head()

,activity_date,market,new_subscriptions,total_disconnects,self_install,professional_install,disconnects,post_install_returns,total_subscribers
0,2017-07-17,Atlanta,18,5,12,6,3,2,33172
1,2017-07-17,Seattle,23,2,14,9,1,1,240359
2,2017-07-16,Atlanta,27,6,10,17,4,2,33159
3,2017-07-16,Seattle,34,1,19,15,1,0,240338
4,2017-07-15,Atlanta,34,5,17,17,4,1,33138

In [10]:
data.activity_date.min()

Timestamp('2015-01-01 00:00:00')

In [21]:
data['date'] = data.activity_date.apply(lambda x: x.date())

### Build datasets from raw, get 2017 first then generalize

In [23]:
data.head()

,activity_date,market,new_subscriptions,total_disconnects,self_install,professional_install,disconnects,post_install_returns,total_subscribers,date
0,2017-07-17,Atlanta,18,5,12,6,3,2,33172,2017-07-17
1,2017-07-17,Seattle,23,2,14,9,1,1,240359,2017-07-17
2,2017-07-16,Atlanta,27,6,10,17,4,2,33159,2017-07-16
3,2017-07-16,Seattle,34,1,19,15,1,0,240338,2017-07-16
4,2017-07-15,Atlanta,34,5,17,17,4,1,33138,2017-07-15

In [45]:
data['year'] = data.date.apply(lambda x: x.year)

In [46]:
data.head()

,activity_date,market,new_subscriptions,total_disconnects,self_install,professional_install,disconnects,post_install_returns,total_subscribers,date,year
0,2017-07-17,Atlanta,18,5,12,6,3,2,33172,2017-07-17,2017
1,2017-07-17,Seattle,23,2,14,9,1,1,240359,2017-07-17,2017
2,2017-07-16,Atlanta,27,6,10,17,4,2,33159,2017-07-16,2017
3,2017-07-16,Seattle,34,1,19,15,1,0,240338,2017-07-16,2017
4,2017-07-15,Atlanta,34,5,17,17,4,1,33138,2017-07-15,2017

In [49]:
type(data.year[0])

numpy.int64

In [50]:
data_2017 = data[data.year == 2017]

In [53]:
data_2017.shape

(396, 11)

In [54]:
data_2017.head()

,activity_date,market,new_subscriptions,total_disconnects,self_install,professional_install,disconnects,post_install_returns,total_subscribers,date,year
0,2017-07-17,Atlanta,18,5,12,6,3,2,33172,2017-07-17,2017
1,2017-07-17,Seattle,23,2,14,9,1,1,240359,2017-07-17,2017
2,2017-07-16,Atlanta,27,6,10,17,4,2,33159,2017-07-16,2017
3,2017-07-16,Seattle,34,1,19,15,1,0,240338,2017-07-16,2017
4,2017-07-15,Atlanta,34,5,17,17,4,1,33138,2017-07-15,2017

In [ ]:
# Stop, EOD
# To do: with 2017 data, work on a city, group by isocalendar() aka week and summarise the metrics. Create dict for later use.

### Write dataframes to workbook

In [5]:
workbook = writer.book

In [7]:
worksheet = writer.sheets['Sheet1']

KeyError: 'Sheet1'